[2020-05-01 22:07] defualt opened #4 "pod install error: The Swift pod `react-native-leanplum` depends upon `Leanplum-iOS-SDK`, which does not define modules."
"react-native": "0.62.2"
"@leanplum/react-native-sdk": "1.0.10",

[code]

[code]

To fix this I added this to my project's Podfile
[code]

[2020-05-01 22:17] defualt opened #5 "Crash in development mode. Leanplum.start() can't handle JS refreshes."
In my React Native application, `Leanplum.start()` is called whenever the app's javascript refreshes without reloading the entire app in the course of routine development.

Upon refresh after I make a js code change, the entire app crashes, and the Xcode log says:
`Error', reason: 'Leanplum: Already called start. This error is only thrown in development mode.'`

There is no way to avoid calling `L

[2020-05-04 08:23] barsumek commented on #4
I've also encountered this problem, would be nice to add info about it to README or fix it in the SDK.

Worth to note -> setting `use_modular_headers!` is not a good idea, because, at least for me, it causes a lot of issues for React Native dependencies such as `glog` or `Folly` and forces to manually set `:modular_headers => false` for them. Setting `true` only for `Leanplum-iOS-SDK` pod is a sim

[2020-05-04 08:44] barsumek opened #6 "Outdated README"
In README the steps to install the app are:

`yarn add react-native-leanplum` or `npm install react-native-leanplum`

but this command will install the old package: https://www.npmjs.com/package/react-native-leanplum which looks like an old test version of the SDK (`Test` in `package.json` etc.)

The correct lib is this one: https://www.npmjs.com/package/@leanplum/react-native-sdk and the command

[2020-05-04 08:51] barsumek commented on #5
+1, this issue blocks using the SDK on Dev environment and is error-prone on Prod.

Android version of the SDK also logs this error, but it does not crash the app. I'm not sure if it causes any side-effects or not, though.

Both SDK versions should be resilient to JS reloads as it's the core of React Native development.

[2020-05-04 11:54] barsumek opened #7 "onStartResponse listener does not work on Android"
According to the docs, the correct way to start Leanplum is to:
1. Call `Leanplum.start()`
2. Add `Leanplum.onStartResponse` listener and e.g. show Splash screen until it's called with `true` or `false`.

However, the listener does not fire on Android at all.

I played with it a bit and it looks like the listener is added correctly on the native side (`addStartResponseHandler` in `LeanplumModule.j

[2020-05-04 14:31] defualt commented on #5
To work in dev, add this ugliness to your pod file until the library is fixed.
[code]

[2020-05-05 21:16] e7mac commented on #7
Thanks for reporting the issue. I just tried this out with my test app and was able to get the `Leanplum.onStartResponse` to fire. Please could you take a look at these lines https://github.com/Leanplum/Rondo-ReactNative/blob/9586574086c14281803ae57ba20950adff3a7ea1/src/utils/startup.ts#L140-L145 and help me understand what might be different for you and how we can fix it?

[2020-05-06 16:24] e7mac commented on #4
My understanding is that this commit https://github.com/Leanplum/Leanplum-iOS-SDK/commit/7ddb9f03aefe80af0e9118b635a8a407ca4467f7 should fix it. Please let me know if that is incorrect. We are QAing a release with this fix.

[2020-05-07 14:08] e7mac commented on #6
thanks for the suggestions!

[2020-05-07 14:08] #6 closed

[2020-05-13 02:30] e7mac commented on #5
Fixed in [v1.0.11](https://github.com/Leanplum/Leanplum-ReactNative-SDK/releases/tag/1.0.11)

[2020-05-13 02:30] #5 closed

[2020-05-13 02:30] e7mac commented on #4
Fixed in [v1.0.11](https://github.com/Leanplum/Leanplum-ReactNative-SDK/releases/tag/1.0.11)

[2020-05-13 02:30] #4 closed

[2020-06-17 21:46] defualt opened #10 "iOs compiling for production error "expected argument type 'Date'""
"@leanplum/react-native-sdk": "1.0.12"

When compiling ios for TestFlight deployment:

[code]

I was able to patch this with an npm `postinstall` script like this:

[code]

[2020-06-17 21:51] defualt opened #11 "Leanplum.start does not have an onComplete callback for React Native library"
"@leanplum/react-native-sdk": "1.0.12"
For `leanplum-sdk` for web, `Leanplum.start` has an argument for an onReady handler like this.

[code]

`@leanplum/react-native-sdk` does not support this callback.

In general, it seems like the interface for `leanplum-sdk` and `@leanplum/react-native-sdk` should be the same to the same codebash can support iOs, Android, and additionally web, with minimal gl

[2020-06-17 21:59] defualt opened #12 "Leanplum.getVariables does not work"
"@leanplum/react-native-sdk": "1.0.12"

[code]
leanPlumVariables is empty object with `@leanplum/react-native-sdk ` but has my variables for A/B testing populated in web with `leanplum-sdk`

  _

[code]
singleLeanPlumVariable is undefined with `@leanplum/react-native-sdk ` but has an appropriate value for A/B testing in web with `leanplum-sdk`

[2020-06-17 22:20] defualt commented on #11
This is my current implementation after just discovering `addStartResponseHandler` and `onStartResponse`.  It would be helpful to have `onStartResponse` and `addStartResponseHandler` in each of the other's interfaces.

[code]

[2020-06-17 23:33] e7mac commented on #10
Thanks for bringing this up. Please try [1.0.13](https://github.com/Leanplum/Leanplum-ReactNative-SDK/releases/tag/1.0.13) and let us know if that solves it for you.

[2020-06-24 07:21] alradadi opened #13 "Andorid startup issue"
I'm having the following issue on Android on app startup

using version 1.0.13

[code]

[2020-06-25 12:20] milos1290 commented on #12
For variables to be populated you need to define them first. The behavior is same as in Android/iOS SDK.

[code]

Calling it before start will register variable, so when `start` call or `forceContentUpdate` is called it will update the existing registered variables.
NOTE that variables wont exist and be populated unless they are set first with `Leanplum.setVariables`.

[2020-06-25 12:22] milos1290 commented on #11
The RN SDK is a wrapper for iOS/Android so the API is more align to those SDKs. Can we close this issue ?

[2020-06-25 13:36] defualt commented on #12
I set the variables in the Leanplum web portal (screenshot below).  This is for A/B testing.  What's the point of that web interface if I would have to calculate the distribution of variants on the client?  What would the point of `getVariables` be if I am supposed to set A/B test variables in the client already?  The sdk for web `leanplum-sdk` doesn't have this problem: the A/B test variables are

[2020-06-25 13:42] defualt commented on #11
Close if you want the APIs to have needless variation across platforms which requires implementations of `react-native`+`react-native-web` apps to include extra glue code.

[2020-06-25 14:36] milos1290 commented on #12
The `setVariables` will create object on native side that will keep track of state of the that particular variable and update its value when SDK starts or updates. In iOS/Android and ReactNative we do not provide a way to return all defined variables directly, instead those variables need to be defined in client code that will act as hooks to the one on dashboard.

Hope this clears it a bit.

[2020-06-25 15:01] defualt commented on #12
Ok, that seems to work.  I set key/values in an object in `setVariables`, and then when I do `getVariables` the values are different, so I assume the server is providing appropriate A/B test variation.

It is a confusing API.  It seems that I should instead be passing an array of keys to `setVariables` instead of an object because the values within that object are irrelevant... they just get overw

[2020-06-25 15:15] milos1290 commented on #12
The values you provide initially are default values, i.e if network call fails and you request variables with `getVariables` it will return default values you initially set with `setVariables`. This is to make sure that you don't enter invalid state where variable have unknown value.

[2020-06-25 15:31] defualt commented on #12
That makes sense. It is not clear from the docs.  Thanks for your help.

[2020-06-25 15:44] milos1290 commented on #13
@alradadi Can you post your `MainApplication` class ? You need to add this two lines to your `onCreate` method

[code]

[2020-06-25 15:45] milos1290 commented on #12
@defualt Since ReactNative is wrapper for Android and iOS SDK, you can in most cases check the docs for one of those to make sure you are on correct path.

[2020-06-25 15:59] defualt commented on #12
I suggest you make the React Native documentation as explicit as any other platform.  Many React Native developers such as myself have limited background in vanilla iOs and Android development so it's harder for us to parse non-JS docs, and we assume React Native libraries are supported with documentation at the same level as other platforms for a product.

[2020-06-25 18:11] defualt commented on #10
Confirming 1.0.13 solves the issue.

[2020-06-25 18:34] milos1290 commented on #12
@defualt Thanks for the feedback, we will make sure to create step by step guide for integration.

I'll close this issue.

[2020-06-25 18:34] #12 closed

[2020-06-25 18:35] milos1290 commented on #7
@barsumek also make sure that you set callback before calling `start` method.

[2020-06-25 18:35] milos1290 commented on #10
Closing as it was fixed in 1.0.13

[2020-06-25 18:35] #10 closed

[2020-06-29 20:35] Ingibjorg opened #15 "Pod install fails - SWIFT_VERSION missing"
Pod install fails with the following message in and Obj-C based React Native project:

[code]

**Steps to reproduce:**
[code]

Side note:
Why isn't the library set up for autolinking? Autolinking is the new standard now: https://reactnative.dev/blog/2019/07/03/version-60#native-modules-are-now-autolinked

[2020-06-30 10:05] milos1290 commented on #15
Thanks for the feedback,

The error you are seeing occurs if you are trying to import library into a target that doesn't actually use Swift. Try setting Swift version in your target in XCode

As for autolinking, it is supported out of the box, if you are using ReactNative version 0.60+ you don't have to link manually, you can find more details [here](https://github.com/react-native-community/cli/b

[2020-06-30 16:45] e7mac commented on #11
Parity in the API for JS and RN is a bigger project and will be on the roadmap.

[2020-06-30 16:45] #11 closed

[2020-07-01 07:08] alradadi commented on #13
yes that was the issue. thank you

[2020-07-01 07:08] #13 closed

[2020-07-07 20:42] defualt opened #17 "Android Setup"
Hopefully future versions of this library will support auto-linking.

Until then, can you detail how to do the setup for Android?

I'm trying to setup MainApplication.java as discussed here:
https://github.com/Leanplum/Leanplum-ReactNative-SDK/issues/13

But I don't know what to to import at the top of the file.

I get these errors where building for development:
[code]

[2020-07-08 04:06] MaganAnkur opened #18 "Apple Mach- O Linker Error"
I am trying to implement LeanPlum SDK after installing and adding necessary pod when I am trying to build it I am getting below error:

**PodFile:**
![Screen Shot 2020-07-08 at 12 03 30 AM](https://user-images.githubusercontent.com/42070594/86874512-810a4d80-c0ae-11ea-9fbc-800bb3c10db2.png)
![Screen Shot 2020-07-08 at 12 03 12 AM](https://user-images.githubusercontent.com/42070594/86874517-849dd48

[2020-07-08 12:17] MaganAnkur commented on #18
I found the solution. We have to add .swift file under project to create Bridge Header and It will resolve.

[2020-07-08 12:17] #18 closed

[2020-07-08 18:23] MaganAnkur opened #19 "JSON value '<JSON>' of type NSString cannot be converted to NSDictionary"
After implementing Leanplum SDK I am getting below issue:

![Screen Shot 2020-07-08 at 9 12 44 AM](https://user-images.githubusercontent.com/42070594/86956093-8e631e80-c126-11ea-83b4-f8228a32d7d7.png)

**Error Log From XCode:**

[error][tid:com.facebook.react.LeanplumQueue][RCTConvert.m:55] JSON value 'Aa8VbmUJgBNLpIES2FMO8aApf2E2' of type NSString cannot be converted to NSDictionary

[2020-07-08 20:08] MaganAnkur commented on #19
Any help on above pls.

[2020-07-09 09:04] milos1290 commented on #19
Hey,
Do you mind sharing your Leanplum SDK implementation code ?

[2020-07-09 09:05] milos1290 commented on #17
@defualt [Here](https://docs.leanplum.com/reference#section-additional-android-setup) is updated doc which contains more information on how to implement SDK properly

[2020-07-09 12:06] MaganAnkur commented on #19
@milos1290
import Config from 'react-native-config';
import Mixpanel from 'react-native-mixpanel';
import {Leanplum, LeanplumInbox} from '@leanplum/react-native-sdk';
import firebase from '@react-native-firebase/app';
import axios from 'axios';
import DeviceInfo from 'react-native-device-info';

class LeanplumAnalyticsManager {
  initialized = false
  uid = null

  constructor() {
    this.initial

[2020-07-09 14:47] defualt commented on #17
I had to do some additional things to get this to work.

Add `implementation 'com.leanplum:leanplum-core:5.4.1'` to `dependencies {` in `android/app/build.gradle`.

Add `import com.leanplum.annotations.Parser;` to `MainApplication.java`.

[2020-07-10 12:44] MaganAnkur commented on #19
@milos1290 any suggestion pls?

[2020-07-10 13:40] MaganAnkur commented on #17
I am also getting the build failure:

symbol:   class RemoteMessage
  location: package com.google.firebase.messaging
/Users/test/Documents/GitHub/proj/android/app/src/main/java/com/name/app/leanplum/Custom_FirebaseMessagingService.java:6: error: cannot find symbol
import com.leanplum.LeanplumPushFirebaseMessagingService;
                   ^
  symbol:   class LeanplumPushFirebaseMessagingService

[2020-07-13 09:58] milos1290 commented on #17
@MaganAnkur It seems you are missing Leanplum FCM dependency, you can find more info [here](https://docs.leanplum.com/reference#section-android-setup)

@defualt I'll double check again, the `leanplum-core` should be added by autolinking.

[2020-07-13 10:06] milos1290 commented on #19
@MaganAnkur can you double check your `sanitizeProperties` method ? it seems you are passing string instead of dictionary to `Leanplum.track` method. Also this seems wrong

[code]
method signature is:
`Leanplum.track(event: string, params: Dictionary);`

[2020-07-13 14:01] MaganAnkur commented on #19
Thanks @milos1290 for your response but I got the issue it was while setting the user, there was arguments mismatch. Closing this now.

[2020-07-13 14:01] #19 closed

[2020-07-13 14:02] MaganAnkur commented on #17
Thanks @milos1290 for your response though I found out that I had missed Leanplum FCM dependency but it would be good it gets added by autolinking. Thanks

[2020-07-13 14:35] milos1290 commented on #17
@MaganAnkur Great to hear. Unfortunately  it is not possible to add it since its optional dependency and not everyone needs it.

[2020-08-06 21:23] Ingibjorg commented on #15
Thanks @milos1290 . I had to update my project from 0.62 to 0.63 and fix the Swift setup to get this working properly.

[2020-08-06 21:23] #15 closed

[2020-09-18 17:57] defualt opened #22 "Leanplum all of a sudden doesn't let me develop on iOs"
It worked earlier this week. Now it doesn't build for development.

"@leanplum/react-native-sdk": "1.0.13",

`react-native run-ios`

[code]

[2020-09-22 18:48] zumaawad commented on #22
Me too, after upgrading to xcode 12

[2020-09-22 19:09] zumaawad opened #23 "I cant build the iOS app after upgrading to Xcode 12"
I cant build the iOS app after upgrading to Xcode 12
It returns

<img width="1166" alt="Screen Shot 2020-09-22 at 9 04 38 PM" src="https://user-images.githubusercontent.com/11634587/93926172-7b202200-fd17-11ea-8a78-92b69c4bbe94.png">

I'm using the latest of this repository with Xcode 12.0 (12A7209)
`"@leanplum/react-native-sdk": "https://github.com/Leanplum/Leanplum-ReactNative-SDK",`
`"react": "

[2020-09-28 14:33] nzagorchev commented on #23
Hello,
Can you try the following:

- Delete Pod folder and Pod.lock file
- run pod repo update
- run pod install

I am able to compile the following app successfully with Xcode12:
https://github.com/Leanplum/Rondo-ReactNative

[2020-09-28 14:42] zumaawad commented on #23
@nzagorchev Which `"@leanplum/react-native-sdk"` version?

[2020-09-28 18:01] Matzielab opened #24 "getVariables not returning complete structure"
First i set variables via the Leanplum.setVariables({...vars}) method, then i set a Leanplum.onVariablesChanged then i start. Inside the Leanplum.onVariablesChanged i call getVariables but it doesnt get the complete set, only top level? what is going on?

[code]

[2020-09-28 18:22] defualt commented on #23
![image](https://user-images.githubusercontent.com/399135/94470689-037a4900-0196-11eb-844f-b149fb27eb8b.png)

[2020-09-29 10:20] nzagorchev commented on #23
Using version `1.1.0-beta5`

[2020-09-29 10:23] nzagorchev commented on #22
Discussed in #23

[2020-09-29 10:23] #22 closed

[2020-09-29 10:24] #17 closed

[2020-09-29 10:24] #7 closed

[2020-09-29 20:05] defualt commented on #23
1.1.0-beta11

[code]

[2020-09-29 20:53] defualt commented on #23
I just upgraded from React Native 0.62.2 to 0.63.3 but that actually churned up more error
[code]

[2020-10-02 09:23] milos1290 commented on #23
@defualt Can you make sure your pods are updated. Go to ios folder and run 'pod repo update' and 'pod install' to pull the latest version of native iOS Leanplum-iOS SDK

[2020-10-02 18:13] defualt commented on #23
I'm still getting errors.
I installed `Leanplum/Leanplum-ReactNative-SDK` version 1.1.0.
react-native version is 0.63.3.
Here are the commands I ran after npm installing the latest leanplum/react-native-sdk.
[code]

The `Podfile.lock` file has this:

[code]

I ran "Clean Build Folder" from Xcode menus.
I then pressed play in Xcode.

I get these errors with a failed build:

![image](https://user-im

[2020-10-04 11:44] zumaawad commented on #23
Any updates?

[2020-10-05 08:40] Matzielab commented on #24
@milos1290 This is on android btw, and 1 out of 100 it actually returns the full structure but then it suddenly fails again, hard to rely on

[2020-10-05 09:44] Matzielab commented on #24
Further debugging and it seems to not work with react-natives hot reload. Im not that skilled in java but from what i can see it seems like something is happening in the Var.define function when reading from cache

[2020-10-05 21:22] CyberMew commented on #24
Which sdk version are you using?

[2020-10-06 06:08] Matzielab commented on #24
@CyberMew React Native SDK 1.1.0

[2020-10-06 22:53] jgalianoz opened #27 "'React/RCTBridgeModule.h' file not found"
I have this problem, any idea how to solve this? 🙏

![image](https://user-images.githubusercontent.com/12010942/95274055-6741e900-080a-11eb-90bb-6bcb1467f06e.png)

![image](https://user-images.githubusercontent.com/12010942/95268273-9a7d7b80-07fc-11eb-9000-87a72a782e48.png)

[2020-10-13 15:07] defualt commented on #23
I hope to see progress on this issue because this is blocking a new release.   Let me know if you need any more information.

[2020-10-15 07:59] nzagorchev commented on #27
Hi Manuel,
This does not seem to be caused by our SDK in particular.

You can try re-installing the pods and also check this thread:
https://stackoverflow.com/questions/53541573/build-failed-react-rctbridgemodule-h-file-not-found
https://stackoverflow.com/questions/41663002/react-rctbridgemodule-h-file-not-found

[2020-10-15 15:36] jgalianoz commented on #27
@nzagorchev Thanks for your response:

I follow the first article but I received this error 😢

Any idea about this?

Thanks.

![image](https://user-images.githubusercontent.com/12010942/96152368-19944300-0ed2-11eb-98a3-32576e511868.png)

[2020-10-20 16:16] jgalianoz commented on #23
Any updates ?

[2020-10-20 16:38] jgalianoz commented on #23
@defualt @zumaawad  Do you compile the project in Legacy mode?

![image](https://user-images.githubusercontent.com/12010942/96615743-52179080-12c7-11eb-86cb-4ecc58c363b9.png)

When I compile in Legacy mode I receive this error:

![image](https://user-images.githubusercontent.com/12010942/96617021-b4bd5c00-12c8-11eb-8001-bcb2fa550290.png)

When I don't compile in Legacy mode I receive this error:

[2020-10-20 20:41] milos1290 commented on #23
So what i did is this
[code]

And i was able to build iOS App from XCode

[2020-10-20 21:23] defualt commented on #23
@milos1290 Please review my message [above](https://github.com/Leanplum/Leanplum-ReactNative-SDK/issues/23#issuecomment-702882728) where I confirm the versions installed with a fresh node_modules and Pods folders:
- `@leanplum/react-native-sdk": "1.1.0"`
- `Leanplum-iOS-SDK (3.0.0)`

Have you tried installing `lottie-react-native` along with `@leanplum/react-native-sdk`?  Lottie is mentioned in th

[2020-10-20 23:31] milos1290 commented on #23
Disregard my previous reply, i've managed to track the issue.
Recently RN switched from using dynamic frameworks to static ones due to few libraries that are built as static (mainly Flipper).

The only solution is to add
`use_frameworks!`

 and remove

[code]

Clean the project and it should build.

[2020-10-21 00:29] jgalianoz commented on #23
@milos1290 I receive this error when removing this.

![image](https://user-images.githubusercontent.com/12010942/96658616-97a97d00-130a-11eb-8b2b-9a56b3ec50db.png)

[2020-10-21 01:05] defualt commented on #23
@milos1290 I assume that disables Flipper.  Is there the possibility of another fix that keeps Flipper integration intact?

[2020-10-21 08:56] nzagorchev commented on #23
We have also pushed a fix for module definition in the iOS SDK: [PR](https://github.com/Leanplum/Leanplum-iOS-SDK/pull/405)
I will be doing a beta soon which will include it.

[2020-10-21 15:13] zach-owens123 commented on #27
Hi Manuel,  this looks like after installing those dependencies that you opened up the xcode project w/o those dependencies rather than the workspace with those.   otherwise you can try reinstalling the dependencies in your project

[2020-10-21 17:22] jgalianoz commented on #27
I added the library manually but the Leanplum.h file not exist

![image](https://user-images.githubusercontent.com/12010942/96754985-b43fc680-1397-11eb-893e-0073a98e6d9b.png)

[2020-10-22 09:37] milos1290 commented on #24
@Matzielab Strange, i'll check it out and see whats going on

[2020-10-22 09:38] milos1290 commented on #23
@jgalianoz @defualt I'm afraid there is nothing we can do atm. I'm still trying to find other solution to would allow us to link SDK dynamically and successfully build the app

[2020-10-22 16:15] zach-owens123 commented on #27
thanks. did you follow the manual setup in our docs or how did you go about set up?

[2020-10-23 16:56] zach-owens123 commented on #27
try installing the pods directly in your project and open the workspace

[2020-10-29 19:20] milos1290 commented on #23
@defualt @jgalianoz I'm released a new version for RN SDK, it will contain a partial fix for XCode12 and RN 0.63 issues. I'll post a guide on how to proceed

[2020-11-03 09:39] milos1290 opened #30 "XCode 12 & RN 0.63 Issues & Fixes"
Due to change in linking of Pod libraries in iOS to static linking, we have to change how Leanplum-iOS-SDK is linked by adding script in ios/Podfile which will switch Leanplum-iOS-SDK to dynamic linking.
[code]
After adding the script, make sure you run `pod install` in `ios/` folder
In case you are seeing swift unreferenced symbols, add any kind of Swift file to your main iOS app project in XCode

[2020-11-03 09:40] milos1290 commented on #23
Please refer to this issue or a fix https://github.com/Leanplum/Leanplum-ReactNative-SDK/issues/30

[2020-11-03 09:41] milos1290 commented on #27
Please refer to this issue for a fix https://github.com/Leanplum/Leanplum-ReactNative-SDK/issues/30

[2020-11-04 19:06] tailorem opened #31 "Boolean variables are converted to number values"
Variables that are set with a boolean value and are not nested within an object are being converted to numbers.
SDK version 1.1.1

[code]

Console log:
[code]

Dashboard:
<img width="678" alt="Screen Shot 2020-11-04 at 10 53 56 AM" src="https://user-images.githubusercontent.com/29444471/98156717-06e7ab00-1e8d-11eb-9f9f-9f65a74afc8c.png">

[2020-11-11 10:37] #23 closed

[2020-11-11 10:37] #27 closed

[2020-11-23 16:46] zumaawad commented on #30
@milos1290 With which build system?

[2020-11-25 22:29] tailorem opened #32 "Android package name causes conflicts with other modules in release builds"
[code]
The package name `com.reactlibrary` is generic and causes conflicts with other modules (such as custom modules or other libraries that also use the default package name) resulting in build failures.

[2020-12-02 04:18] jgalianoz opened #33 "Problem for install library without use "use_frameworks!""
Hi guys, I'm trying to install the library but I receive this error when I remove use_frameworks! from my Podfile.

The problem is that I need to remove use_frameworks! because of other libraries break.

![image](https://user-images.githubusercontent.com/12010942/100827484-d6167980-342a-11eb-9cff-25d0d998fa99.png)

[2020-12-04 21:08] nericode opened #35 "It does not receive the open url action in campaign"
The error happens when sending notifications in a campaign, the open url parameter is not received

When start campaign:

Log:
`Bundle[{data=Bundle[{lp_version=1, lp_channel={"importance":3,"name":"XXX","id":"1"}, lp_message=CHECK_LOG_TAG_1504, _lpm=1273745009, _lpx={"Chained message":"1265455022","__name__":"Chain to Existing Message"}, title=Best offer ever!}]}]`

No start campaign only preview:

[2020-12-06 06:23] #35 closed

[2020-12-07 16:51] milos1290 commented on #33
@jgalianoz  please take a look at this issue https://github.com/Leanplum/Leanplum-ReactNative-SDK/issues/30

[2020-12-07 22:49] jgalianoz commented on #30
@milos1290 You can share an example of you Podfile, please 🙏

[2020-12-08 10:21] milos1290 commented on #30
@jgalianoz here is a clean project with Leanplum RN SDK already setup
[LPSample.zip](https://github.com/Leanplum/Leanplum-ReactNative-SDK/files/5658585/LPSample.zip)

[2020-12-09 15:43] jgalianoz commented on #30
I don't sure if this solution will resolve my problem actually my react-native version is **0.59.9**

[2020-12-09 19:30] jgalianoz commented on #30
I am adding this code but y receive this errors:

[code]

![image](https://user-images.githubusercontent.com/12010942/101677724-f2b64100-3a2a-11eb-9b38-551355560dc0.png)

[2020-12-11 12:35] brunoccc commented on #17
I undertand that, but could you please add to the documentation [here](https://docs.leanplum.com/reference#section-additional-android-setup) that we need to add some dependancies in the gradle file? By reading that document it seems that everything works out of the box simply by npm installing the package, but when you try to follow the Additional Android Setup you are left with unresolved imports

[2020-12-23 22:41] nericode commented on #33
Same issue

[2020-12-29 21:44] nericode commented on #30
Same problem attached image
![Captura de Pantalla 2020-12-29 a la(s) 15 43 47](https://user-images.githubusercontent.com/7475549/103315945-ab4d2000-49ec-11eb-8e8e-176f08d8395e.png)

[2021-01-22 07:34] aynofal commented on #30
Just a quick note, if your version of cocoapods is less than 1.9.0, the syntax is a bit different
with that said, here's the fix:
`dynamic_frameworks = ['Leanplum-iOS-SDK']
pre_install do |installer|
  Pod::Installer::Xcode::TargetValidator.send(:define_method, :verify_no_static_framework_transitive_dependencies) {}
  installer.pod_targets.each do |pod|
      if dynamic_frameworks.include?(pod.nam

[2021-02-08 18:13] nericode opened #37 "No work Open Action with iOS"
When sending a notification with the action of "open action" this does not work correctly in a notification, specifically with deeplinkin.

If the notification does not have "Mute inside app" it shows an alert, which is the correct behavior and redirects correctly, but if that option is not selected and the phone has the app completely closed, the deeplinkin action will never open.

I use  `"@lean

[2021-02-22 10:42] dejan2k commented on #37
Hi @nericode
we have this issue with open action on iOS 13 and currently working on a fix for it.
Can you please check on which iOS version/versions you have this issue?

[2021-02-22 15:32] nericode commented on #37
Hi @dejan2k thanks for your help,

We test in:

iPhone SE - 14.0.1
iPhone 8 - 14.0.1
iPhone 11 - 14.3

[2021-03-02 21:22] wadesun18 opened #38 "Open Action not working on Android 11"
When calling LeanplumInbox.read(messageId), it should to trigger open action to open an external url. It works on Android 10 or below but not Android 11. I was using version `1.0.13` and I tried upgrading to the latest version `1.1.1` and it's still the same. Thanks!

[2021-03-24 09:16] AbdullahMH95 commented on #37
@dejan2k Any update on this issue please?

[2021-03-30 08:48] nzagorchev commented on #37
Hi,

I have additional questions:
1. Does it work for a web URL (not a deeplink)?
2. Does it work if the app is in the background?
3. Is the Open event tracked in Leanplum for the user in this case?

[2021-04-11 14:03] nzwnabdulwahid opened #42 "Push Token not registered as expected."
Hello everyone, I have an issue I encounter since last week, where **Push Token** from the devices not being registered as expected.

Necessary library has been added. Is there any way to add it manually or to actually debug what happens ?

`@leanplum/react-native-sdk": "1.0.13`, `com.leanplum:leanplum-fcm:5.3.3` and `com.google.firebase:firebase-messaging:20.1.4` is the related package that I'm u

[2021-04-12 08:55] milos1290 commented on #42
Hi @nzwnabdulwahid

Was it working before ?
Also, you can try updating @leanplum/react-native-sdk to latest version and see if that fixes the issue.

[2021-04-13 11:21] milos1290 commented on #24
@Matzielab I've tried to reproduce the issue on a clean app with cold start (no hot reloads), basically like a plain android app, but the issue is not visible at all. I suspect it might be the issue with react native environment.

[2021-04-14 20:00] nericode commented on #37
Hi @nzagorchev

Does it work for a web URL (not a deeplink)?
YES
Does it work if the app is in the background?
NO
Is the Open event tracked in Leanplum for the user in this case?
NO

[2021-04-22 12:07] milos1290 commented on #38
I've tested this on Android 11 and cannot get it to reproduce. The open action is always executed when i read the inbox message. Can you provide more information on how to reproduce this ?

[2021-04-27 12:33] #42 closed

[2021-04-27 15:54] milos1290 commented on #31
@tailorem changing type from code won't work. You will have to change it on dashboard also. If the variable was defined as number first, it won't be redefined to bool. You will have to either delete it or change manually to correct type.

[2021-04-27 15:54] #31 closed

[2021-04-27 16:07] nzagorchev commented on #32
https://github.com/Leanplum/Leanplum-ReactNative-SDK/pull/46

[2021-04-27 16:07] #32 closed

[2021-04-28 11:14] dejan2k commented on #37
The fix for this issue will be included in our next release.
The problem was in our native iOS SDK and the fix is applied [here](https://github.com/Leanplum/Leanplum-iOS-SDK/pull/432)

[2021-04-28 11:14] #37 closed

[2021-04-29 09:08] #24 closed

[2021-04-29 17:37] wadesun18 commented on #38
Thanks for the response @milos1290, I am still seeing this on Android 11 but works fine on everything else. The way I configured this on leanplum is open action and open URL then I set an URL. Please note that if the url is a deeplink then it works by taking me to somewhere else in the app. If the URL is a link outside of the app, then nothing happens and no error messages either. I am using "@lea

[2021-09-09 23:51] nericode opened #51 "Interstitial message"
According to its documentation https://docs.leanplum.com/docs/interstitial-message there is a 'Interstitial' this, if not, a request since the information does not exist on its development page.

There is a way to capture the event of the button of an Interstitial or to know when it is launched with some event

[2021-10-20 05:33] zupaox opened #52 "`hasStarted` is not implemented in the ios module"
Hey,

It seems the ios native module does not implement all the methods exported from `Leanplum.m`, for example: `hasStarted`.
Do those methods not expected to be called for ios?

This is the error:
![image](https://user-images.githubusercontent.com/46878464/138033822-4a37dadb-c3e7-4902-b54f-0e47dfa23358.png)

Thanks

[2021-11-03 10:03] #52 closed

[2022-01-06 17:14] JeremyGreen-TomTom opened #57 "gradle 7.0 and above requires use of maven-publish not maven gradle plugin"
https://docs.gradle.org/7.0/userguide/upgrading_version_6.html#removal_of_the_legacy_maven_plugin

...so an app using gradle 7.0 or above fails to build.

[code]

This build error is for @leanplum/react-native-sdk 1.2.0 and gradle 7.3.3, but https://github.com/Leanplum/Leanplum-ReactNative-SDK/blob/master/android/build.gradle is still using "maven" not "maven-publish".

[2022-01-19 19:44] nericode commented on #57
I have same issue

[2022-02-10 07:04] EmilStoychev opened #59 "Test Slack / Github Integration"
Hello

[2022-02-10 07:04] #59 closed

[2022-02-11 10:40] Bej-Technologies opened #60 "'new NativeEventEmitter()' was called with a non-null argument without the required 'addListener/removeListeners' method."
I am getting the following warnings when running my app on Android with `"@leanplum/react-native-sdk": "^1.2.1"` on `"react-native": "0.65.0"`.

[code]

It seems to be solved by adding the following to `LeanplumInboxModule.java` and `LeanplumModule.java`:

[code]

It seems to be related to this change: https://github.com/facebook/react-native/commit/114be1d2170bae2d29da749c07b45acf931e51e2

[2022-02-11 13:02] hborisoff commented on #60
@Bej-Technologies Thank you for noting that!
I tried it and it solves the warning. We'll include it in the next release.

[2022-02-11 15:50] hborisoff commented on #57
I'm currently working on that Gradle issue and I'll remove the publishing code, as it seems to be redundant.

You can check the changes [here](https://github.com/Leanplum/Leanplum-ReactNative-SDK/compare/master..feature/SDK-637_update_gradle).

[2022-03-02 17:15] nericode opened #61 "Not show Interestitial"
I have configure a interestitial when:

**Display Trigger**: Event {EventName} triggers

But i have this issue:

![Screen Shot 2022-03-02 at 11 14 12 AM](https://user-images.githubusercontent.com/7475549/156412991-6cc66723-8f15-4cc6-98f5-a3ec9ed7d65d.png)

[2022-03-02 17:20] hborisoff commented on #61
@nericode
Please contact our support team about that issue.

[2022-03-02 17:20] #61 closed

[2022-03-16 17:25] nericode opened #62 "Fatal Exception: java.lang.IncompatibleClassChangeError"
Hi team, when run the app, we have this error:

Class 'org.apache.http.message.BufferedHeader' does not implement interface 'org.apache.http.NameValuePair' in call to 'java.lang.String org.apache.http.NameValuePair.getName()' (declaration of 'com.leanplum.internal.WebSocketClient$1' appears in /data/app/~~AJe1R8MC6TWaETB2lzFuIA==/com.XXX.XXXX-TNFxsWZIKrV9kCDfp83BuA==/base.apk!classes2.dex)

[2022-03-17 09:59] hborisoff commented on #62
@nericode
Can you give more specifics, because it is the first time I see that error?
I searched through the Leanplum Android SDK and it is the socket client, used in development mode, that contains WebSocketClient class. And that `NameValuePair`  is coming from `org.apache.http.legacy` package.

[2022-03-22 13:14] hborisoff commented on #62
Could you exclude from obfuscation the files from `com.leanplum.*` package and also the `org.apache.http.legacy` files, to assure that Proguard won't do anything that could cause the runtime exception?
Probably something like:
[code]

[2022-03-22 21:18] #51 closed

[2022-04-13 18:21] sidferreira opened #66 "error: 'Leanplum/Leanplum-Swift.h' file not found"
Error:

[code]

[2022-04-19 17:19] RP-alissonpaschoal commented on #66
same problem here using RN 0.67.4, could you fix it?

[2022-05-11 19:38] AugustoAleGon commented on #66
I have the same issue.

[2022-05-12 11:30] nzagorchev commented on #66
This is an issue with cocoapods when using static linking, for pods that use mixed languages. You can link Leanplum dynamically, by adding the following code in Podfile:
[code]

[2022-05-16 12:03] Bej-Technologies opened #67 "Opened Action not triggered when the app is foregrounded on iOS"
When I receive a status bar notification while the app is foregrounded on iOS nothing happens when I press it, even though I have set an Opened Action. The status bar notification works flawlessly if the app is in the background. I have traced it down to this code snippet:

[code]

Not sure why the action should be ignored if the app is in the foreground?

[2022-05-16 12:36] nzagorchev commented on #67
What version of the SDK are you using? I believe this should be working as you expect in 4.0.0 and above since we rewrote the notifications logic. Would it be possible to update a sample app and give it a try?

[2022-05-16 12:38] nzagorchev commented on #66
@AugustoAleGon Is this working for you?

[2022-05-16 12:38] #62 closed

[2022-05-16 12:39] Bej-Technologies commented on #67
I'm using `"@leanplum/react-native-sdk": "^1.2.1"`. Will test upgrading :D

[2022-05-16 12:41] #57 closed

[2022-05-16 12:44] #38 closed

[2022-05-16 12:46] nzagorchev commented on #60
Fixed in 1.3.0

[2022-05-16 12:46] #60 closed

[2022-05-16 13:25] Bej-Technologies commented on #66
@nzagorchev I got the same issue after upgrading and I can confirm the fix you commented worked for me

[2022-05-16 13:28] Bej-Technologies commented on #67
Upgrading to 1.3.0 worked for me, thank you @nzagorchev!

[2022-05-16 13:28] #67 closed

[2022-05-23 14:19] AugustoAleGon commented on #66
@nzagorchev yes. this works for me.

[2022-05-23 14:34] AugustoAleGon opened #68 "Error: Android cannot find symbol Leanplum.setAplicationContext(this);"
After following the Leanplum documentation on Android https://docs.leanplum.com/reference/react-native-setup
And also trying the autolink and the manual linking and both didn't work.

I still got this:
[code]

[2022-05-23 16:13] augusto-booment commented on #68
@hborisoff I already did that. But I got the same issue mention above. Any idea? Autolink is also broken too.

[2022-05-26 07:15] hborisoff commented on #68
@augusto-booment
I'm sending you my [sample project](https://drive.google.com/file/d/1ixjRG3PfuzuBKpwgHLpGfKQ3R-It-lGO/view?usp=sharing) I created few minutes ago.
This is not the full Leanplum integration, but only to the point where you cannot compile it.

These are the commands executed:

1. react-native init NewProject
2. npm install
2. npm install @leanplum/react-native-sdk
3. npx react-nativ

[2022-05-27 16:42] AugustoAleGon commented on #68
This was an Android issue. We can close it.

[2022-05-27 16:42] #68 closed

[2022-07-19 06:13] ThushalIntervest commented on #57
@Bej-Technologies  did you found any for this?

`Could not find method mavenDeployer()`

Gradle Version =  gradle-7.3.3

[2022-07-19 06:16] hborisoff commented on #57
@ThushalIntervest
Unfortunately RN SDK 1.3.0 is tested only using the Gradle 7.2.
We haven't updated to the newest version yet.

[2022-11-07 19:15] zumaawad opened #70 "Native version 6.0.0 support"
When react-native SDK will support native version 6.0.0 support?!

[2022-11-08 06:46] hborisoff commented on #70
@zumaawad We are currently working on the new version that will get the newest Leanplum iOS and Android SDKs, expect it  in December.

[2022-11-09 02:54] DavidCS1995 opened #71 "Could not find react-native-0.71.0-rc.0-release.aar"
Hello everyone.

recently I'm a build the APK from React Native, but i have the next issues:
Execution failed for task ':leanplum_react-native-sdk:generateReleaseRFile'.

Failed to transform react-native-0.71.0-rc.0-release.aar (com.facebook.react:react-native:0.71.0-rc.0) to match attributes {artifactType=android-symbol-with-package-name, com.android.build.api.attributes.BuildTypeAttr=release, or

[2022-11-09 06:18] hborisoff commented on #71
@DavidCS1995
Unfortunately this issue is not from our codebase:
https://github.com/facebook/react-native/issues/35210
Solution that worked on our side was to use the following in the Gradle files:
[code]
And also make sure you use a 'fixed' version of react-native package, mentioned in the issue.